@model Project_CapStone_Mentorship_Service.Models.Sign_UpForm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sign_UpForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studnet_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studnet_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Need_for_Academic_Help)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Need_for_Academic_Help)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mentor_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
