@model IEnumerable<Project_CapStone_Mentorship_Service.Models.LessonActivity>

@{
    ViewData["Title"] = "List_of_My_LessonActivities";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h1>List_of_My_LessonActivities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.LessonActivityId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.LessonActivityId">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.LessonActivityId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
